@{
    ViewData["Title"] = "Task Page";
}

<div class="text-center d-flex justify-content-center">
    
    <section class="my-5 m-auto">

        <div class="form-container">

            <nav class="nav-main w-100 mt-0">

                <ul class="nav nav-menu">

                    <li class="nav-item">
                        <a href="#toBeDonePanel" class="py-2 px-5 nav-link active" data-toggle="tab" role="tab" aria-selected="true">TO BE DONE</a>
                    </li>

                    <li class="nav-item">
                        <a href="#completedPanel" class="py-2 px-5 nav-link" data-toggle="tab" role="tab" aria-selected="false">COMPLETED</a>
                    </li>

                </ul>

            </nav>

            <form id="taskCreationForm" method="post">

                <div class="p-3 d-flex flex-column">

                    <div class="form-group">
                        <label for="taskTitleInput">Task Title</label>
                        <input class="form-control" id="taskTitleInput" name="title" placeholder="Insert the title" required>
                    </div>

                    <div class="form-group mt-2 mb-1">
                        <label for="taskDescriptionTextarea">Description</label>
                        <textarea class="form-control" id="taskDescriptionTextarea" name="description" rows="3" placeholder="Insert the description"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3" id="createTaskButton">Create Task</button>

                    <div class="d-none mt-3" id="editButtonsContainer">

                        <button type="button" class="btn btn-muted flex-fill" id="cancelUpdateTaskButton">Cancel</button>
                        <button type="submit" class="btn btn-primary flex-fill ml-3" id="updateTaskButton">Update Task</button>

                    </div>

                </div>

            </form>

            <hr class="my-1"/>

            <div class="p-3 tab-content">

                <div class="tab-pane fade show active" id="toBeDonePanel" role="tabpanel">
                    <partial name="ToBeDone.cshtml">
                </div>

                <div class="tab-pane fade" id="completedPanel" role="tabpanel">
                    <partial name="Completed.cshtml">
                </div>

            </div>

        </div>

    </section>

</div>